<!DOCTYPE html>
<html>
  <head>
    <title>Librarylist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Library', root_path %>
    <%= link_to 'Letuchka2', letuchka2_path %>
    <%= link_to 'bubblesort', bubblesort_path %>
    <%= yield %>
  </body>
</html>
